body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, rgba(64, 114, 189, 0.7181), #000000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

#form-cadastrarproduto {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
}

#form-cadastrarproduto label {
    margin-bottom: 5px;
    display: block;
}

#form-cadastrarproduto input,
#form-cadastrarproduto select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-cadastrarproduto select {
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
}

#enviar {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
}

@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    #form-cadastrarproduto {
        width: 95%;
    }

    #enviar {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    #form-cadastrarproduto {
        width: 100%;
        padding: 15px;
    }

    #enviar {
        font-size: 14px;
        padding: 8px;
    }
}
