body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #BFC8D6;
}

header {
    max-width: 100vw;
    padding-top: 5px;
    height: 80px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}

.icone-botao {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.icone-botao i {
    font-size: 4vh;
    color: #000000;
}

.icone-botao:focus,
.icone-botao:hover {
    color: #000000;
}

.pesquisa-botao {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.pesquisa-botao i {
    font-size: 4vh;
    color: inherit;
}

.logo-botao {
    background: none;
    border: none;
    cursor: pointer;
}

.site-texto {
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
}

.style {
    color: #000000;
}

.score {
    color: #ffffff;
}

.pesquisa-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 45vw;
}

.pesquisa-container input {
    width: 100%;
    height: 5vh;
    padding: 5px 40px 5px 10px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
}

.pesquisa-botao {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.pesquisa-botao i {
    font-size: 3vh;
    color: #000;
}

.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.categoria-botao {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.categoria-botao:hover {
    background-color: #333333;
}

.titulo-secao {
    cursor: pointer;
    font-size: 24px;
    border: none;
    background-color: transparent;
    text-align: left;
    margin-left: 37px;
    color: #000000;
    margin-bottom: 10px;
    display: block;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100vh;
}

.produto {
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.produto:hover {
    transform: translateY(-5px);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.produto-botao {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.produto h3 {
    font-size: 16px;
    margin: 10px 0;
}

.produto p {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: #000000;
    color: #ffffff;
}

.footer-section {
    text-align: center;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffffff;
}

.footer-section p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button {
    background-color: transparent;
    padding: 10px;
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.social-button i {
    color: #ffffff;
    font-size: 24px;
}

.social-button:hover {
    background-color: #ffffff;
}

.social-button:hover i {
    color: #000000;
}

.sobre-nos-texto {
    max-width: 300px;
    margin: 0 auto;
}

